{% extends 'layout.njk' %}
    {% block head %}
        <title>Foodfy - Receitas</title>
    {% endblock %}

    {% block header %}
            <div class="links">
                <a href="/above">Sobre</a>
                <a href="/recipes"><b>Receitas</b></a>
            </div>
    {% endblock %}

    {% block content %}

    <div id="container">
    
        <div class="recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="/scripts/recipes.js"></script>
    
    
    {% endblock %}